body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: white;
    color: black;
    text-align: center;
    padding: 30px;
}

section {
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

#projectList {
    display: flex;
    gap: 20px;
}

.project {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    background: black;
    color: white;
    padding: 10px;
}